:root {
    --blue: #3b82f6;
    --muted-dark-blue: #2d3b52;
    --light-blue: rgb(147, 197, 253);
    --dark-blue: rgb(37, 99, 235);
    --accent: #ffbb28;
    --accent-dark: #dd9e17;
    --light-gray: #e5e7eb;
    --dark-gray: rgb(31, 41, 55);
    --mid-gray: rgb(45, 57, 75);
    --serif: 'Merriweather', Georgia, serif;
    --display: 'Oswald', sans-serif;
    --sans: 'Roboto', sans-serif;

    --font-size: 1.2rem;
    --ratio: 1.333;
    --ratio-alt: 1.68;

    --h4: calc(1.25rem, 5vw, 1.563rem);
    --h3: clamp(1.563rem, 7vw, 1.953rem);
    --h2: clamp(1.953rem, 9vw, 2.441rem);
    --h1: clamp(2.441rem, 10vw, 3.052rem);

    --font-size: clamp(1rem, 2vw, 1.2rem);

    --spacer: clamp(2rem, 3vw, 5rem);

    --main-padding: 3vw;
    }

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    padding: 0;
    margin: 0;
    font-size: var(--font-size);
    background-color: var(--light-gray);
    color: var(--dark-gray);
    font-weight: 500;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: var(--main-padding);
}

img {
    height: auto;
    width: clamp(200px, 100%, 800px);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6), 5px 5px 5px rgba(0, 0, 0, 0.3);
    display: block;
    margin: 0 auto;
}
img.vert {
    width: clamp(200px, 100%, 400px);
}

a {
    color: var(--blue);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0.05rem;
    text-underline-offset: initial;
    text-decoration-color: var(--blue);
    transition-property: all;
    transition-duration: 300ms;
}

a:hover {
    color: var(--dark-blue);
    text-decoration-color: var(--dark-blue);
}

p {
    font-family: var(--serif);
    line-height: 2;
}

h1, h2, h3, h4 {
    font-family: var(--display);
    margin-bottom: 0.65em;
    font-weight: 500;
    line-height: calc(2px + 2ex + 2px);
}

h1 {
    font-size: var(--h1);
}
h2 {
    font-size: var(--h2);
}
h3 {
    font-size: var(--h3);
}
h4 {
    font-size: var(--h4);
}

main > * + * {
    margin-top: var(--spacer);
}

.post-section > * + *, .tweets-section > * + * {
    margin-top: var(--spacer);
}

@media (min-width: 1024px) {
    #app {
        flex-direction: row;
    }
    .sidebar {
        width: 33vw;
        min-width: 33vw;
    }
    main {
        width: 67vw;
        max-width: 67vw;
    }
}
