:root {
    --blue: rgb(59, 130, 246);
    --light-blue: rgb(147, 197, 253);
    --dark-blue: rgb(37, 99, 235);
    --light-gray: rgb(229, 231, 235);
    --dark-gray: rgb(31, 41, 55);
    --mid-gray: rgb(45, 57, 75);
    --serif: 'Merriweather', Georgia, serif;
    --display: 'Oswald', sans-serif;
    --sans: 'Roboto', sans-serif;
    --font-size: 1.2rem;
    --ratio: 1.333;
    --ratio-alt: 1.68;

    --h4: calc(var(--font-size) * var(--ratio));
    --h3: calc(var(--h4) * var(--ratio));
    --h2: calc(var(--h3) * var(--ratio));
    --h1: calc(var(--h2) * var(--ratio));
    }

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    padding: 0;
    margin: 0;
    font-size: var(--font-size);
    color: var(--dark-gray);
    font-weight: 500;
}

/* body {
    overflow-y: scroll;
} */

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 2rem 1rem 1rem 1rem;
    padding-top: 1rem;
}

main > * + * {
    margin-top: 2rem;
}

img {
    height: auto;
    max-width: 100%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6), 5px 5px 5px rgba(0, 0, 0, 0.3);
}

a {
    color: var(--blue);
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    transition-property: all;
    transition-duration: 300ms;
}

a:hover {
    color: var(--dark-blue);
    text-decoration-style: dotted;
}

p {
    font-family: var(--serif);
    line-height: 2;
    font-weight: 500;
}

h1, h2, h3, h4 {
    font-family: var(--display);
    margin-bottom: 0.65em;
    font-weight: 400;
    line-height: calc(2px + 2ex + 2px);
}

h1 {
        /* font-weight: 700; */
        /* font-size: 2.25rem; */
        font-size: var(--h1);
}
h2 {
        /* font-weight: 700; */
        /* font-size: 1.875rem; */
        font-size: var(--h2);
}
h3 {
        /* font-weight: 700; */
        /* font-size: 1.5rem; */
        font-size: var(--h3);
}
h4 {
        /* font-weight: 600; */
        /* font-size: 1.25rem; */
        font-size: var(--h4);
}

.post-section > * + *, .tweets-section > * + * {
    margin-top: 2rem;
}

@media (max-width: 40em) {
    :root {
        --font-size: 1rem;
        --ratio: var(var(--ratio-alt));
    }
}

@media (min-width: 600px) {
    :root {
        --font-size: 1rem;
        --ratio: var(var(--ratio-alt));
    }
    body {
        font-size: 1.125rem;
    }
    main {
        padding: 2rem;
    }
    main > * + * {
        margin-top: 2.5rem;
    }
    .post-section > * + *, .tweets-section > * + * {
        margin-top: 2.25rem;
    }
}

@media (min-width: 768px) {
    :root {
        --font-size: 1rem;
    }
    body {
        font-size: 1.25rem;
    }
    main {
        padding: 2.5rem;
    }
    main > * + * {
        margin-top: 3rem;
    }
    .post-section > * + *, .tweets-section > * + * {
        margin-top: 2.5rem;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 1.25rem;
    }
    #app {
        flex-direction: row;
    }
    main {
        padding: 2.75rem;
        width: 60%;
        max-width: 60%;
        padding-right: 4rem;
    }
    main > * + * {
        margin-top: 3.5rem;
    }
    .post-section > * + *, .tweets-section > * + * {
        margin-top: 2.75rem;
    }
}

@media (min-width: 1280px) {
    body {
        font-size: 1.25rem;
    }
    #app {
        flex-direction: row;
    }
    main {
        padding: 3rem;
        padding-right: 10%;
        width: 67%;
        max-width: 67%;
    }
    main > * + * {
        margin-top: 4rem;
    }
    .post-section > * + *, .tweets-section > * + * {
        margin-top: 3rem;
    }
}