.c.svelte-165zxae{width:1em;height:1em;fill:currentColor;transition:all 0.3s ease-out;overflow:visible}
.icon.svelte-1es2qdv{font-size:3rem}.label.svelte-1es2qdv{font-family:var(--sans)}.skill-group.svelte-1es2qdv{display:flex;flex-direction:column;align-items:center}.skills.svelte-1es2qdv{display:flex;justify-content:space-evenly;margin:5rem 0}
